.hero {
    background-image: url('../img/asientos.jpg');
    height:50vh;
    background-size: contain;
}

.bi-trash-fill {
    color: red;
    font-size: 4rem;
}

.butaca {
    height: 60px;
    width: 40px;
}